<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="employeeAzurePreviewDatabase"
			 providerName="System.Data.SqlClient"
			 connectionString="Server=tcp:sql-srvr-gbk.database.windows.net,1433;Initial Catalog=sql-db-gbk;Persist Security Info=False;User ID=adminuser;Password={my_password};MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;"
			 />
		<add name="employeeAzureProdDatabase"
			 providerName="System.Data.SqlClient"
			 connectionString="Server=tcp:sql-srvr-gbk.database.windows.net,1433;Initial Catalog=sql-db-gbk;Persist Security Info=False;User ID=adminuser;Password={your_password};MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;"
			 />
	</connectionStrings>
</configuration>	